<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">

    <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

    <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
  </head>
  <body>
    <div id="preloader">
      <div class="load">
        <hr />
        <hr />
        <hr />
        <hr />
      </div>
    </div>
    {% include landing-page.html %}
    <div class="layout">
    </div>
    {% include footer.html %}
  </body>
  </html>
</html>
